//Variables

// colors

$button-background-color: orange;
$button-primary-color: white;
$hover-primary-color: #808080;
$active-primary-color: #bcbcbc;
$active-secundary-color: rgb(212, 177, 112);
// sizes

// others
